body {
  background-color: black!important;
}
h1 {
  color: red;
}
li::marker {
  color: darkred;
} 
h2 {color:red;
}
.protieikona { 
	width:98%;
    height:97%   ; 
}

p {color:white;
}
ul {color:white;
}